.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.success{
    color: #1c724b;
    background-color: #d4edda;
    border-color: #c3e6cb;
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.signup-page{

    width: 500px;
    top: 100%;
    left: 50%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.signup-page input{
    width: 100%;
    outline: none;
    border: 1px solid #eee;
    padding: .8rem 1.5rem;
    margin: 1rem;
    font-size: 15px;
}
.signup-page input[type="submit"] {
    background: #d70018;
    color: white;
    max-width: 250px;

    cursor: pointer;
}


@media screen and (max-width: 800px){
    #signup{
        padding: 1rem;
    }
    .signup-page{
        position: relative;
        width: 100%;
        padding: 1rem;
    }
    .form-order{
        padding: 1rem;
    }
    .signup-page input, textarea{
        margin: 8px 0;
    }
    .signup-page textarea{
        margin:10px 0;
    }
}
@media screen and (max-width: 500px){
    .form-signup input{
        font-size: 16px;
    }
}